<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/documentation/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{mysql_db}}' );

/** Database username */
define( 'DB_USER', '{{mysql_user}}' );

/** Database password */
define( 'DB_PASSWORD', '{{mysql_password}}' );

/** Database hostname */
define( 'DB_HOST', 'localhost' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         'ZeF;bVZPMSshEZ6y#8h8;2Qzr?)CDrS|.piCDm|gg~?b7JN3(|]H00&T#dN+B$!4');
define('SECURE_AUTH_KEY',  '$/OfMkD^D>3+:jGvC5=_%Ba,[%@~M!c8I)`<LkYPmnKw<[<*3IHQL-cg1~9y.w^0');
define('LOGGED_IN_KEY',    '>yL[zUw@S9$_=:-^_^bIFs7%n2OC|EWuCi`QGeJ}[<8%Z_6&L]S8qtVap12ws|jJ');
define('NONCE_KEY',        'oO-T)c.-F~TdPsBOOa?0$Y>+b`{y;C6Wr`}_[w4=b%JWwz#W&:VmK81y%B-kcX0s');
define('AUTH_SALT',        '7f|ZZI`I}ii{,>/1rM>+s +0%=#^,d# !`/B)Q@3L@IY~0dK$vNW 7Wh2Nwtl>{X');
define('SECURE_AUTH_SALT', '(#`C)]K~#10cm6K])+:4hqk;Jy@f&5mor4@U|N`%+0J[@R*?lJbl.mTW,`6|f`4)');
define('LOGGED_IN_SALT',   'l*mMv|yK^zwjF0jyaE-2TW+=e<54,uqm_cG4IjkM#~OX?Y+3}_McgATxG1G |4&1');
define('NONCE_SALT',       'S|4@{jo% 4VjbS() -PV(-xpQ#}4I443g+6aCN`_IvlF9._zo{3v,<4Z q!L)5?:');

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/documentation/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */

@ini_set( ‘upload_max_size’ , ’25MB’ );
@ini_set( ‘post_max_size’, ’27MB’);
@ini_set( ‘memory_limit’, ’30MB’ );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
